<h1>Explore Categories</h1>
<nav>
    <ol class="selection">
        <li><a href="/">Home/</a></li>
        <li><a href="/categories">Categories/</a></li>
        <li>Explore Categories</li>
    </ol>
</nav>
<div class="allscategory">
    <% if(typeof categories !== 'undefined' && categories.length > 0) { %>
        <% categories.forEach(function(category, index) { %>
            <a class="boxitem" href="/categories/<%- category.name %>">
                <div class="allcategory">
                    <img src="img/<%- category.image %>" alt="<%- category.name %>">
                </div>
                <div><%- category.name %></div>
            </a>
        <% }) %>
    <% } %>
</div>
<div>
    <% if(typeof categoryById !== 'undefined' && categoryById.length > 0) { %>
        <% categoryById.forEach(function(recipe, index) { %>
            <a href="/recipe/<%- recipe._id %>">
                <div class="allcategory img">
                    <img src="uploads/<%- recipe.image %> " alt="<%- recipe.name %>">
                </div>
                <div><%- recipe.name %></div>
            </a>
        <% }) %>
    <% } else {%>
        <p>No items found</p>
    <% } %>
</div>