<div>
    <div>
        <img src="" alt="">
    </div>
    <div>
        <h1>Huge selection of delicios recipe ideas</h1>
        <p>Explore our huge selection of delicios recipe ideas including; easy deserts, delicios vegan and vegetarian dinner ideas, gorgeous pasta recipes, quick bakes, famil-friendly meals and gluten-free recipes</p>
    </div>
    <div>
        <a href="/explore-latest">Explore-latest</a>
        <a href="/randon-recipe">Show Random</a>
    </div>
</div>

<!-- categories -->
<div class="category">
    <% if(categories != '') { %>
        <% categories.forEach(function(category, index) { %> 
            <a href="/categories/<%- category.name %>">
                <div class="category">
                    <img src="img/<%- category.img %> " alt="<%- category.name %>">
                </div>
                <div><%- category.name %></div>
            </a>
        <% }) %>
    <% } %>
    <a href="/categories">
        <div class="category">
            <img src="img/thai-food" alt="thai-food">
        </div>
        <div>view all</div>
    </a>
</div>

<!-- latest start -->
<section>
    <div>
        <h2>Latest recipe</h2>
        <a href="/explore-latest">View More</a>
    </div>
    <div>
        <% if(food != '') { %> 
            <% food.latest.forEach(function(recipe, index) { %> 
                <a href="/recipe/<%= recipe._id %>">
                    <div class="category">
                        <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>">
                    </div>
                    <div><%= recipe.name %></div>
                </a>
            <% }) %>
        <% } %>
    </div>
</section>

<!-- american food -->
<section>
    <div>
        <h2>American Recipes</h2>
        <a href="/categories/American">View More</a>
    </div>
    <div>
        <% if(typeof food.american !== 'undefined' && food.american.length > 0) { %> 
            <% food.american.forEach(function(recipe, index) { %>
                <a href="/recipe/<%- recipe._id %>">
                    <div class="category">
                        <img src="img/<%- recipe.img %> " alt="<%- recipe.name %>">
                    </div>
                    <div><%- recipe.name %></div>
                </a>
            <% }) %>
        <% } else {%>
            <p>No items found</p>
        <% } %> 
    </div>
</section>





















<!-- submit start -->
<section>
    <img src="img/vivant.jpg" alt="">
    <h1>Publish your recipe for free today</h1>
    <div>
        <p>Publish your recipe in front of thousand of people for free.</p>
        <div>
            <a href="/submit-recipe">Submit recipe</a>
        </div>
    </div>
</section>