<div class="divtitle">
    <div class="titlediv">
        <div>
            <h1>Huge selection of delicios recipe ideas</h1>
            <p>Explore our huge selection of delicios recipe ideas including; easy deserts, delicios vegan and vegetarian dinner ideas, gorgeous pasta recipes, quick bakes, famil-friendly meals and gluten-free recipes</p>
        </div>
        <div class="recipebtn">
            <a class="latestbtn" href="/explore-latest">Explore-latest</a>
            <a class="randomtbtn" href="/random-recipe">Show Random</a>
        </div>
    </div>
    <div class="titleimg">
        <img src="img/food.jpg" alt="thai-food">
    </div>
</div>

<!-- categories -->
<div class="category">
    <% if(categories != '') { %>
        <% categories.forEach(function(category, index) { %> 
            <a class="boxitem" href="/categories/<%- category.name %>">
                <div class="categoryimg">
                    <img src="img/<%- category.image %>" alt="<%- category.name %>">
                </div>
                <div><%- category.name %></div>
            </a>
        <% }) %>
    <% } %>
    <a class="boxitem" href="/categories">
        <div class="categoryimg">
            <img src="img/list.jpg" alt="thai-food">
        </div>
        <div>view all</div>
    </a>
</div>

<!-- latest recipe -->
<section class="latest">
    <div class="viewmore">
        <h2>Latest recipe</h2>
        <a href="/explore-latest">View More</a>
    </div>
    <div class="categorylatest">
        <% if(food != '') { %> 
            <% food.latest.forEach(function(recipe, index) { %> 
                <a class="boxitem" href="/recipe/<%= recipe._id %>">
                    <div class="latestcategory">
                        <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>">
                    </div>
                    <div><%= recipe.name %></div>
                </a>
            <% }) %>
        <% } %>
    </div>
</section>

<!-- american food -->
<section class="american">
    <div class="viewmore">
        <h2>American Recipes</h2>
        <a href="/categories/American">View More</a>
    </div>
    <div class="allscategory">
        <% if(typeof food.american !== 'undefined' && food.american.length > 0) { %>
            <% food.american.forEach(function(recipe, index) { %>
                <a class="boxitem" href="/recipe/<%- recipe._id %>">
                    <div class="americancategory">
                        <img src="uploads/<%- recipe.image %>" alt="<%- recipe.name %>">
                    </div>
                    <div class="categoryname"><%- recipe.name %></div>
                </a>
            <% }) %>
        <% } else {%>
            <p>No items found</p>
        <% } %> 
    </div>
</section>

<!-- submit start -->
<section class="footersection">
    <div class="imgfooter">
        <img class="img1" src="img/list.jpg" alt="list">
        <img class="img2" src="img/list.jpg" alt="list">
        <img class="img3" src="img/list.jpg" alt="list">
    </div>
    <h1>Publish your recipe for free today</h1>
    <div>
        <p>Publish your recipe in front of thousand of people for free.</p>
        <div class="footerbtn">
            <a href="/submit-recipe">Submit recipe</a>
        </div>
    </div>
    
</section>