<% if(recipe != null) { %>
    <nav>
        <ol class="selection">
            <li><a href="/">Home</a></li>/
            <li><%- recipe.name %></li>
        </ol>
    </nav><br>
    <div class="boxrecipe">
        <div class="left">
            <img src="/uploads/<%- recipe.image %>" alt="<%- recipe.name %> ">
        </div>
        <div class="right">
            <div>
                <div><h1><%- recipe.name %></h1></div><br>
                <div><i class="bi bi-tag"></i><%- recipe.category %></div><br>
                <div>
                    <h4>Cooking Instructions</h4>
                    <%- recipe.discription %> 
                </div>
                <br>
            </div>
            <div>
                <h4>Ingredients</h4>
                <ul>
                <% recipe.ingredients.forEach(function(ingredients, index){ %> 
                    <li><%= ingredients %> </li>
                <% }) %> 
                </ul>
            </div>
        </div>
    </div>
<% } else { %>
    <p>No item found</p>
<% } %> 